[tool.poetry]
name = "gmm"
version = "0.1.0"
description = ""
authors = ["Andrew Ramirez", "Aaron Meyer <git@asmlab.org>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<3.10"
numpy = "^1.23.0"
scipy = "1.9.0"
scikit-learn = "^1.1.1"
seaborn = "^0.11.2"
pyarrow = "^7.0.0"
tensorly = "0.7.0"
xarray = "^2022.3.0"
jaxlib = {url = "https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.3.15+cuda11.cudnn82-cp39-none-manylinux2014_x86_64.whl"}
jax = "0.3.17"
tqdm = "^4.64.0"
umap-learn = "^0.5.3"
scanpy = "^1.9.1"
igraph = "^0.9.11"
louvain = "^0.7.1"
leidenalg = "^0.8.10"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
mypy = "^0.950"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]                                                           
fbuild = "gmm.figures.common:genFigure"
